{% extends 'index.html' %} 

{% block style %}
<style>

</style>
{% endblock %}

{% block content %}

<header>
  <img src="{{ url_for('static', filename= 'img/logo.jpg') }}" />
  <h1>Tu Empresa</h1>
  <p>Bienvenido a la mejor floristeria</p>
</header>
  <section>
    <h2>¿Quiénes Somos?</h2>
    <p>
      Somos una empresa líder comprometida con proporcionar soluciones<br />
      innovadoras y de calidad con el proposito de satisfacer a nuestros
      clientes.
    </p>
  </section>
{% endblock %}
